@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  color: #0e0926;
  font-family: 'Open Sans Regular'; }

main {
  display: flex;
  padding: 20px 2%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  align-items: flex-start; }

@media screen and (min-width: 640px) {
  .float-cart__content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px; }
  .float-cart__content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0c0b10; } }

.float-cart__content {
  height: 100%;
  overflow-y: scroll;
  background-color: #362c55; }

.main-banner {
  width: 100%; }

footer {
  color: #aaa;
  padding: 20px 0;
  text-align: center; }
  footer a {
    color: #aaa;
    text-decoration: none; }
    footer a:hover {
      text-decoration: underline; }

.filters {
  width: 11%;
  float: left;
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  top: 5%; }
  .filters .star-button-container {
    text-align: center; }
    .filters .star-button-container small {
      color: #aaa;
      margin-bottom: 8px;
      display: inline-block; }
  .filters .title {
    margin-top: 2px;
    margin-bottom: 20px;
    width: 100%; }
  .filters-available-size {
    display: inline-block;
    margin-bottom: 10px; }
    .filters-available-size label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 60px;
      height: 35px;
      margin-bottom: 8px;
      margin-right: 8px;
      line-height: 35px;
      text-align: center;
      background-color: #0e0926; }
      .filters-available-size label:hover input ~ .checkmark {
        border: 1px solid #0e0926;
        background-color: #362c55;
        color: #ea3d2b; }
      .filters-available-size label input:checked ~ .checkmark {
        background-color: #362c55;
        color: #ea3d2b; }
      .filters-available-size label input:checked ~ .checkmark:after {
        display: block; }
      .filters-available-size label input {
        position: absolute;
        opacity: 0;
        cursor: pointer; }
      .filters-available-size label .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 35px;
        font-size: 0.8em;
        line-height: 35px;
        text-align: center;
        color: white;
        background-color: #0e0926;
        border: 1px solid transparent; }

.shelf-container {
  width: 85%;
  min-height: 600px;
  margin-left: 15%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }
  .shelf-container-header {
    margin-bottom: 10px;
    width: 85%; }
    .shelf-container-header .products-found {
      float: left;
      margin: 0;
      margin-top: 8px; }
    .shelf-container-header .sort {
      float: right; }
      .shelf-container-header .sort select {
        background-color: #fff;
        outline: none;
        border: 1px solid #ececec;
        border-radius: 2px;
        margin-left: 10px;
        width: auto;
        height: 35px;
        cursor: pointer; }
        .shelf-container-header .sort select:hover {
          border: 1px solid #5b5a5e; }
  .shelf-container .shelf-item {
    width: 25%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
    border: .5px solid transparent;
    transition: box-shadow 0.3s; }
    .shelf-container .shelf-item:hover {
      box-shadow: 2px -3px 7px 1px black; }
      .shelf-container .shelf-item:hover .shelf-item__buy-btn {
        background-color: #362c55; }
    .shelf-container .shelf-item .shelf-stopper {
      position: absolute;
      color: #ececec;
      top: 10px;
      right: 10px;
      padding: 5px;
      font-size: 0.6em;
      background-color: #0e0926;
      cursor: default; }
    .shelf-container .shelf-item__thumb img {
      width: 100%;
      height: auto; }
    .shelf-container .shelf-item__title {
      position: relative;
      padding: 0 20px;
      height: 45px; }
      .shelf-container .shelf-item__title::before {
        content: '';
        width: 20px;
        height: 2px;
        background-color: #362c55;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px; }
    .shelf-container .shelf-item__price {
      height: 60px; }
      .shelf-container .shelf-item__price .val b {
        font-size: 1.5em;
        margin-left: 5px; }
      .shelf-container .shelf-item__price .installment {
        color: #9c9b9b; }
    .shelf-container .shelf-item__buy-btn {
      background-color: #0e0926;
      color: #fff;
      padding: 15px 0;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.2s; }

.float-cart {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #0e0926;
  box-sizing: border-box;
  transition: right 0.2s; }
  .float-cart--open {
    right: 0; }
  .float-cart__close-btn {
    font-weight: bold;
    font-size: large;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #362c55;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }
    .float-cart__close-btn:hover {
      color: #ea3d2b; }
  .float-cart .float-cart__header .bag {
    position: relative;
    color: white; }
  .float-cart .bag {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    background-image: url("./../static/shopping-basket-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #362c55; }
    .float-cart .bag--float-cart-closed {
      position: absolute;
      background-color: aquamarine;
      border-radius: 50%;
      background-size: 50%;
      left: -65px;
      top: 5px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      transition: box-shadow 0.3s; }
      .float-cart .bag--float-cart-closed:hover {
        box-shadow: -4px 1px 11px 0px black; }
      .float-cart .bag--float-cart-closed .bag__quantity {
        bottom: 5px;
        right: 14px;
        color: #ea3d2b; }
    .float-cart .bag__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #ea3d2b;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      position: absolute;
      bottom: -5px;
      right: 0px; }
  .float-cart__header {
    color: #ececec;
    box-sizing: border-box;
    text-align: center;
    padding: 45px 0;
    position: relative; }
    .float-cart__header .header-title {
      font-weight: bold;
      font-size: 1.2em;
      vertical-align: middle; }
  .float-cart__shelf-container {
    min-height: 280px; }
    .float-cart__shelf-container .shelf-empty {
      color: #ececec;
      text-align: center;
      line-height: 40px; }
    .float-cart__shelf-container .shelf-item {
      position: relative;
      box-sizing: border-box;
      padding: 5%;
      transition: background-color 0.2s, opacity 0.2s; }
      .float-cart__shelf-container .shelf-item::before {
        content: '';
        width: 90%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 5%; }
      .float-cart__shelf-container .shelf-item--mouseover {
        background: #0c0b10; }
        .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .title, .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .desc {
          opacity: 0.6; }
        .float-cart__shelf-container .shelf-item--mouseover .shelf-item__price {
          opacity: 0.6; }
      .float-cart__shelf-container .shelf-item__del {
        font-weight: bold;
        color: white;
        width: 16px;
        height: 16px;
        top: 15px;
        right: 20px;
        border-radius: 50%;
        position: absolute;
        background-size: auto 100%;
        background-repeat: no-repeat;
        z-index: 2;
        cursor: pointer; }
        .float-cart__shelf-container .shelf-item__del:hover {
          background-position-x: -17px; }
      .float-cart__shelf-container .shelf-item__thumb, .float-cart__shelf-container .shelf-item__details, .float-cart__shelf-container .shelf-item__price {
        display: inline-block;
        vertical-align: middle; }
      .float-cart__shelf-container .shelf-item__thumb {
        vertical-align: middle;
        width: 15%;
        margin-right: 3%; }
        .float-cart__shelf-container .shelf-item__thumb img {
          width: 100%;
          height: auto; }
      .float-cart__shelf-container .shelf-item__details {
        width: 57%; }
        .float-cart__shelf-container .shelf-item__details .title {
          color: #ececec;
          margin: 0; }
        .float-cart__shelf-container .shelf-item__details .desc {
          color: white;
          margin: 0; }
      .float-cart__shelf-container .shelf-item__price {
        color: white;
        text-align: right;
        width: 25%; }
  .float-cart__footer {
    box-sizing: border-box;
    padding: 5%;
    box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.3); }
    .float-cart__footer .sub, .float-cart__footer .sub-price {
      color: white;
      vertical-align: middle;
      display: inline-block; }
    .float-cart__footer .sub {
      width: 20%; }
    .float-cart__footer .sub-price {
      width: 80%;
      text-align: right; }
      .float-cart__footer .sub-price__val, .float-cart__footer .sub-price__installment {
        margin: 0; }
      .float-cart__footer .sub-price__val {
        color: #362c55;
        font-size: 22px; }
    .float-cart__footer .buy-btn {
      color: #ececec;
      text-transform: uppercase;
      background-color: #0c0b10;
      text-align: center;
      padding: 15px 0;
      margin-top: 40px;
      cursor: pointer;
      transition: background-color 0.2s; }
      .float-cart__footer .buy-btn:hover {
        background-color: #000; }

@media only screen and (max-width: 1024px) {
  .filters {
    width: 20%; }
  .shelf-container {
    width: 80%;
    margin-left: 20%; }
    .shelf-container .shelf-item {
      width: 33.33%; } }

@media only screen and (max-width: 640px) {
  .filters {
    width: 25%; }
  .shelf-container {
    width: 75%;
    margin-left: 25%; }
    .shelf-container .shelf-item {
      width: 50%;
      padding: 10px; }
      .shelf-container .shelf-item__title {
        margin-top: 5px;
        padding: 0; }
  .float-cart {
    width: 100%;
    right: -100%; }
    .float-cart--open {
      right: 0; }
    .float-cart__close-btn {
      z-index: 2; }
    .float-cart__header {
      padding: 25px 0; } }

@media only screen and (max-width: 460px) {
  main {
    flex-direction: column;
    padding: 2%;
    margin-top: 75px; }
  .filters {
    width: 100%;
    text-align: center;
    justify-content: center;
    position: relative; }
    .filters .title {
      margin-bottom: 15px; }
  .shelf-container-header {
    width: 100%; }
    .shelf-container-header .products-found {
      width: 90%;
      text-align: center;
      margin: 10px 0; }
    .shelf-container-header .sort {
      width: 100%;
      text-align: center; }
  .shelf-container {
    width: 100%;
    margin-left: 0; }
    .shelf-container .shelf-item {
      width: 100%; } }

.lds-ring {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  width: 150px;
  height: 150px;
  z-index: 100; }
